@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nanum+Gothic:wght@700&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nanum+Gothic:wght@700&family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-s {
  background: rgba(43, 43, 43, 0.3);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 8px;
  width: 100%;
  z-index: 2;
  position: fixed;
}
.nav-s ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.nav-s ul li #logo-nav {
  width: 100px;
}
.nav-s ul li #social-item {
  width: 100px;
  color: #ffffff;
}
.nav-s ul li #social-item svg:hover {
  color: #e2962b;
}
.nav-s ul li .navegadores {
  text-decoration: none;
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
  color: #ffffff;
}
.nav-s ul li .navegadores:hover {
  color: #e2962b;
}
.nav-s button {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
}
main .img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .img-container .img-f1 {
  background-image: url("../img/tomahawk.png");
}
main .img-container .img-f2 {
  background-image: url("../img/SB-38.png");
}
main .img-container .img-f3 {
  background-image: url("../img/comidas.png");
}
main .img-container .img-f4 {
  background-image: url("../img/bebidas.png");
}
main .container-conocenos {
  background-image: url("../img/fondo-contacto.jpg");
  z-index: 1;
  padding: 35px;
}
main .container-conocenos .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
main .container-conocenos .container h2 {
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
  font-size: 30px;
}
main .container-conocenos .container p {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
}
main .container-conocenos .container button {
  background-color: transparent;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid black;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: black;
}
main .container-conocenos .container button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #e2962b;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
main .container-conocenos .container button:hover {
  color: #ffffff;
}
main .container-conocenos .container button:hover:before {
  top: -30px;
  left: -30px;
}
main .container-conocenos .container button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
main .container-conocenos .container button:active:before {
  background: #db8a19;
  transition: background 0s;
}
main .container-conocenos .container button a {
  text-decoration: none;
  color: black;
}

.container-fondo {
  display: flex;
  justify-content: center;
  height: 120vh;
}
.container-fondo .img-fondo {
  width: 100%;
  background-image: url("../img/imagen-about.jpg");
  background-size: cover;
  background-position: center center;
}
.container-fondo .img-fondo .texto {
  margin: 50%;
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.container-fondo .img-fondo .texto h2 {
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
}
.container-fondo .img-fondo .texto a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid white;
  padding: 0.5rem;
}

.img-f1 {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.1s;
  transform: scale(1);
}
.img-f1:hover {
  transform: scale(1.2);
}
.img-f1 .texto {
  margin: 50%;
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.img-f1 .texto h2 {
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
}
.img-f1 .texto a {
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ffffff;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #ffffff;
}
.img-f1 .texto a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #e2962b;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.img-f1 .texto a:hover {
  color: #ffffff;
}
.img-f1 .texto a:hover:before {
  top: -30px;
  left: -30px;
}
.img-f1 .texto a:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.img-f1 .texto a:active:before {
  background: #db8a19;
  transition: background 0s;
}

.img-f2 {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.1s;
  transform: scale(1);
}
.img-f2:hover {
  transform: scale(1.2);
}
.img-f2 .texto {
  margin: 50%;
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.img-f2 .texto h2 {
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
}
.img-f2 .texto a {
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ffffff;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #ffffff;
}
.img-f2 .texto a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #e2962b;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.img-f2 .texto a:hover {
  color: #ffffff;
}
.img-f2 .texto a:hover:before {
  top: -30px;
  left: -30px;
}
.img-f2 .texto a:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.img-f2 .texto a:active:before {
  background: #db8a19;
  transition: background 0s;
}

.img-f3 {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.1s;
  transform: scale(1);
}
.img-f3:hover {
  transform: scale(1.2);
}
.img-f3 .texto {
  margin: 50%;
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.img-f3 .texto h2 {
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
}
.img-f3 .texto a {
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ffffff;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #ffffff;
}
.img-f3 .texto a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #e2962b;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.img-f3 .texto a:hover {
  color: #ffffff;
}
.img-f3 .texto a:hover:before {
  top: -30px;
  left: -30px;
}
.img-f3 .texto a:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.img-f3 .texto a:active:before {
  background: #db8a19;
  transition: background 0s;
}

.img-f4 {
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.1s;
  transform: scale(1);
}
.img-f4:hover {
  transform: scale(1.2);
}
.img-f4 .texto {
  margin: 50%;
  margin-top: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.img-f4 .texto h2 {
  font-family: "Caveat", cursive;
  padding-bottom: 1rem;
}
.img-f4 .texto a {
  text-decoration: none;
  text-align: center;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #ffffff;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: #ffffff;
}
.img-f4 .texto a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #e2962b;
  height: 150px;
  width: 200px;
  border-radius: 50%;
}
.img-f4 .texto a:hover {
  color: #ffffff;
}
.img-f4 .texto a:hover:before {
  top: -30px;
  left: -30px;
}
.img-f4 .texto a:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.img-f4 .texto a:active:before {
  background: #db8a19;
  transition: background 0s;
}

#footer {
  background-image: url("../img/fondo_footer.jpg");
  background-size: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
#footer .container-dias {
  list-style: none;
  text-align: center;
  padding: 0;
  color: #e2962b;
}
#footer .footer-social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 0;
}
#footer .footer-social ul #social-item {
  width: 100px;
  color: #ffffff;
}
#footer .footer-social ul #social-item svg:hover {
  color: #e2962b;
}
#footer .cierre {
  width: 100%;
  background-color: black;
  text-align: center;
}

#carta {
  background-image: url("../img/textura-fondo-menu.png");
  background-size: contain;
  background-position: center center;
  padding: 3rem;
  padding-inline: 8rem;
}
#carta .opciones ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
  padding: 0;
  justify-content: space-between;
}
#carta .opciones ul li a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid white;
  padding: 0.5rem;
}
#carta .dropdown {
  visibility: collapse !important;
}
#carta .grid-carta {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto;
  align-content: space-around;
  justify-content: space-between;
  row-gap: 25px;
}
#carta .grid-carta .plato {
  width: 26rem;
  color: #ffffff;
  border: 2px solid white;
  padding: 0.5rem;
}
#carta .grid-carta .plato p {
  margin-right: 150px;
}

.about-us {
  width: 100%;
  background-image: url("../img/fondo-azul-oscuro-fondo-azul-oscuro_544662-302.jpg");
  background-size: cover;
}
.about-us .grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-us .grid-about .imagen-card-1 {
  background-image: url("../img/cupcakes-g1838ce009_1280.jpg");
}
.about-us .grid-about .imagen-card-2 {
  background-image: url("../img/drinks-g07dc67b86_1280.jpg");
}
.about-us .grid-about .imagen-card-3 {
  background-image: url("../img/pink-wine-gf69d401e6_1280.jpg");
}

.imagen-card-1 {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.textos-about-1 {
  width: 100%;
  height: 500px;
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.3rem;
  padding: 8px;
  line-height: 2rem;
}

.imagen-card-2 {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.textos-about-2 {
  width: 100%;
  height: 500px;
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.3rem;
  padding: 8px;
  line-height: 2rem;
}

.imagen-card-3 {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.textos-about-3 {
  width: 100%;
  height: 500px;
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.3rem;
  padding: 8px;
  line-height: 2rem;
}

@media screen and (max-width: 1092px) {
  body {
    font-size: 14px;
  }
  body #carta {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }
  body #carta .opciones ul {
    visibility: collapse;
  }
  body #carta .dropdown {
    visibility: visible !important;
  }
  body #carta .grid-carta {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 30px;
    row-gap: 25px;
  }
  .img-f1 {
    width: 50%;
    background-image: url("../img/tomahawk.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .img-f2 {
    width: 50%;
    background-image: url("../img/SB-38.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-us .grid-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas: "textos-about-1" "imagen-card-1" "textos-about-2" "imagen-card-2" "textos-about-3" "imagen-card-3";
  }
  .about-us .grid-about .imagen-card-1 {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
    grid-area: imagen-card-1;
  }
  .about-us .grid-about .textos-about-1 {
    width: 100%;
    height: 350px;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    grid-area: textos-about-1;
  }
  .about-us .grid-about .imagen-card-2 {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
    grid-area: imagen-card-2;
  }
  .about-us .grid-about .textos-about-2 {
    width: 100%;
    height: 350px;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    grid-area: textos-about-2;
  }
  .about-us .grid-about .imagen-card-3 {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
    grid-area: imagen-card-3;
  }
  .about-us .grid-about .textos-about-3 {
    width: 100%;
    height: 350px;
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    grid-area: textos-about-3;
  }
}
@media screen and (max-width: 700px) {
  .nav-s {
    display: flex;
    justify-content: space-between;
  }
  .nav-s #social-item {
    display: none;
  }
  .nav-s .navegador {
    display: none;
  }
  .nav-s #burguer {
    display: block;
    position: absolute;
    right: 10px;
  }
  #carta {
    font-size: 10px;
  }
  #logo-nav {
    width: 80px;
  }
  .img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .plato {
    width: 18rem;
    color: #ffffff;
    border: 2px solid white;
    padding: 0.5rem;
  }
  .img-f1 {
    width: 100%;
    height: 50%;
    background-size: cover;
  }
  .img-f1 .texto {
    margin: 50%;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  .img-f2 {
    width: 100%;
    height: 50%;
    background-size: cover;
  }
  .img-f2 .texto {
    margin: 50%;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  .img-f3 {
    width: 100%;
    height: 50%;
    background-size: cover;
  }
  .img-f3 .texto {
    margin: 50%;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  .img-f4 {
    width: 100%;
    height: 50%;
    background-size: cover;
  }
  .img-f4 .texto {
    margin: 50%;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  .body {
    background-color: black;
  }
  .body header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    z-index: 3;
  }
  .body header .nav-s {
    background: rgba(43, 43, 43, 0.5);
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    z-index: 4;
  }
  .body header .nav-s .navegador {
    background: rgba(43, 43, 43, 0.5);
    position: absolute;
    height: 10rem;
    top: 116px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .body header .nav-s #burguer {
    display: none;
  }
  .body header .nav-s #close {
    display: block;
    position: absolute;
    right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
