.nav-s {
    background: rgba(43, 43, 43, 0.3);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
    width: 100%;
    z-index: 2;
    position: fixed;
    ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        padding: 0;
        margin: 0;
        li{
            #logo-nav {
                width: 100px;
            }
            #social-item {
                width: 100px;
                color: #ffffff;
                svg:hover {
                    color: #e2962b;
                }
            }
            .navegadores{
                text-decoration: none;
                font-size: 20px;
                font-family: 'Nanum Gothic', sans-serif;
                color: #ffffff;
                &:hover{
                    color: #e2962b;
                }
            }
        }
    }  
    button{
        display: none;
    }  
}
