@import "./reset";
@import "./nav";
@import "./imagen-principal";
@import "./variables";
@import "./footer";
@import "./carta";

@media screen and (max-width: 1092px) {
  body {
    font-size: 14px;
    #carta {
      display: flex;
      flex-direction: column;
      align-items: center !important;
      .opciones {
        ul {
          visibility: collapse;
        }
      }
      .dropdown {
        visibility: visible !important;
      }
      .grid-carta {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        column-gap: 30px;
        row-gap: 25px;
      }
    }
  }
  .img-f1 {
    width: 50%;
    background-image: url("../img/tomahawk.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-f2 {
    width: 50%;
    background-image: url("../img/SB-38.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-us{
    .grid-about{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      grid-template-areas: 
      "textos-about-1"
      "imagen-card-1"
      "textos-about-2"
      "imagen-card-2"
      "textos-about-3"
      "imagen-card-3"
      ;
      @for $numero from 1 through 3{
        .imagen-card-#{$numero}{
            width: 100%;
            height: 350px;
            background-size: cover; 
            background-position: center center;
            grid-area: imagen-card-#{$numero};
        }
        .textos-about-#{$numero}{
            width: 100%;
            height: 350px;
            color: #ffffff;
            display: flex;
            text-align: center;
            align-items: center;
            grid-area: textos-about-#{$numero};
        }
    }
    }
  }
    
  }

@media screen and (max-width: 700px) {
  .nav-s{
    display: flex;
    justify-content: space-between;
    #social-item{
      display: none;
    }
    .navegador{
      display: none;
    }
    #burguer{
      display: block;
      position: absolute;
      right: 10px;
    }
  }
  #carta {
    font-size: 10px;
  }

  #logo-nav {
    width: 80px;
  }
  .img-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .plato {
    width: 18rem;
    color: #ffffff;
    border: 2px solid white;
    padding: 0.5rem;
  }
  @for $numero from 1 through 4 {
    .img-f#{$numero} {
      width: 100%;
      height: 50%;
      background-size: cover;
      .texto {
        margin: 50%;
        margin-top: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
      }
    }
  }
  .body{
    background-color: black;
    header{
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 17rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .7);
      z-index: 3;
      .nav-s{
        background: rgba(43, 43, 43, 0.5);
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: center;
        z-index: 4;
        .navegador{
          background: rgba(43, 43, 43, 0.5);
          position: absolute;
          height: 10rem;
          top: 116px;
          left: 0;
          right: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
        }
        #burguer{
          display: none;
        }
        #close{
          display: block;
          position: absolute;
          right: 10px;
        }
      }
    }
  }
}
